services:

  db:
    image: postgres:13
    container_name: django_dancina_db
    ports:
      - "5432:5432"
    env_file:
      - .env
    volumes:
      - dancina_db_data:/var/lib/postgresql/data  # pesistantly store the data even when the docker is deleted or stopped
    environment:
      POSTGRES_DB: dancina_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres

  web:
    build: .  
    container_name: django_dancina
    command: >
      sh -c "
             python /eventcalendar/manage.py collectstatic --noinput &&
             python /eventcalendar/manage.py makemigrations --no-input &&
             python /eventcalendar/manage.py migrate --no-input &&
             gunicorn eventcalendar.wsgi --bind 0.0.0.0:8001 --workers 2
            "
    ports:
      - "8001:8000"
    env_file:
      - .env
    volumes:
      - .:/eventcalendar  # mount the project dir to the docker
    depends_on:
      - db

volumes:
 dancina_db_data:
  name: dancina_db_data




