{% extends 'base/base.html' %}
{% load static %}
{% block title %}Event Calendar{% endblock title %}

{% block extracss %}
  <link href="{% static 'calender/main.css' %}" rel="stylesheet" />
{% endblock extracss %}

{% block breadcrumb %}
<div>
    <h1><i class="fa-regular fa-calendar-days"></i> Calendar </h1>
    <p>Classes Calendar</p>
</div>
<ul class="app-breadcrumb breadcrumb">
  <button type="button" class="btn btn-primary" id="addNewClassButton">Add New Class</button>
</ul>
{% endblock breadcrumb %}

{% block content %}
<div class="row">
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-star fa-3x"></i>
            <div class="info">
                <h4 style="text-align: center;">Classes</h4>
                <p style="text-align: center;"><b>{{ allevents }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-users fa-3x"></i>
            <div class="info">
                <h4 style="text-align: center;">Clients</h4>
                <p style="text-align: center;"><b>{{ clients }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-edit fa-3x"></i>
            <div class="info">
                <h4 style="text-align: center;">Registrations</h4>
                <p style="text-align: center;"><b>{{ registrations }}</b></p>
            </div>
        </div>
    </div>
    <div class="col-md-6 col-lg-3">
        <div class="widget-small primary coloured-icon">
            <i class="icon fa fa-chalkboard-teacher fa-3x"></i>
            <div class="info">
                <h4 style="text-align: center;">Instructors</h4>
                <p style="text-align: center;"><b>{{ instructors }}</b></p>
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-12">
        <div class="tile row">
            <!-- <div class="col-md-3">
                <div id="external-events">
                    <h4 class="mb-4">Running Events</h4>
                    {% for event in events_month %}
                      <div class="fc-event">
                        <h3>{{ event.name }} Class</h3>
                        <p>Instructor : {{ event.instructor }}</p>
                        <p>Location : {{ event.studio_location }}</p>
                        <p>From: {{ event.from_time }}</p>
                        <p>To: {{ event.to_time }}</p>
                      </div>
                    {% empty %}
                      <p>No Running Events Found</p>
                    {% endfor %}
                </div>
            </div> -->
            <div class="col-md-12">
                <div id="calendar"></div>
            </div>

            <div class="modal fade show" id="eventModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header bg-primary">
                            <h5 class="modal-title text-white" id="exampleModalLongTitle">Add New Event</h5>
                            <button id="modalClose1" type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form method="post">
                            {% csrf_token %}
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Event Name:</label>
                                    {{ form.name }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Location:</label>
                                    {{ form.studio_location }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Instructor:</label>
                                    {{ form.instructor }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">Days:</label>
                                    {{ form.days }}
                                </div>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label"> From:</label>
                                    {{ form.from_time }}
                                </div><div class="form-group">
                                    <label for="message-text" class="col-form-label"> To:</label>
                                    {{ form.to_time }}
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button id="modalClose2" type="button" class="btn btn-danger">Close</button>
                                <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal fade show" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                      <div class="modal-header bg-primary">
                          <h5 class="modal-title text-white" id="title_event_detail"></h5>
                          <button id="modalDetailClose" type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <form method="">
                          {% csrf_token %}
                          <div class="modal-body">
                              
                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Instructor:</label>
                                  <p id = "instructor_event_detail">
                                  </p>
                              </div>

                              <div class="form-group">
                                <label for="message-text" class="col-form-label">Location:</label>
                                <p id = "location_event_detail">
                                </p>
                            </div>

                            <div class="form-group">
                                <label for="message-text" class="col-form-label">Days:</label>
                                <p id = "days_event_detail">
                                </p>
                            </div>

                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">Start:</label>
                                  <p id = "start_event_detail">
                              </div>

                              <div class="form-group">
                                  <label for="message-text" class="col-form-label">End:</label>
                                  <p id = "end_event_detail">
                              </div>
                              <div class="form-group">
                              <p><strong>Members:</strong></p>
                              <ul id="event-members"></ul>
                              <button id="save-attendance" type="button" class="btn btn-primary mt-2">Save Attendance</button>
                            </div>
                          <div class="modal-footer">
                              <button id="delete-event-button" data-event-id="" type="button" class="btn btn-danger">Delete</button>

                              <!-- <button id="add-to-next-week" data-event-id-week="" type="button" class="btn btn-success">Next Week</button> -->
                              <!-- <button id="add-to-next-day" data-event-id-day="" type="button" class="btn btn-primary">Next Day</button> -->

                          </div>
                        </div>
                      </form>
                  </div>
              </div>
          </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block extrascripts %}
<script src="{% static 'calender/main.js' %}"></script>
<script>
  function converterDataParaDjangoFormat(data) {
      const dataJS = new Date(data);
      const year = dataJS.getFullYear();
      const month = (dataJS.getMonth() + 1).toString().padStart(2, '0');
      const day = dataJS.getDate().toString().padStart(2, '0');
      const hour = dataJS.getHours().toString().padStart(2, '0');
      const minute = dataJS.getMinutes().toString().padStart(2, '0');
      const second = dataJS.getSeconds().toString().padStart(2, '0');
      const formatoDjango = `${year}-${month}-${day} ${hour}:${minute}:${second}`;
      return formatoDjango;
      
  }
    document.addEventListener('DOMContentLoaded', function() {
      var calendarEl = document.getElementById('calendar');
      var today = new Date();

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,list'
        },
        initialDate: today,
        navLinks: true, 
        selectable: true,
        selectMirror: true,
        // select: function(arg) {
        //   console.log('clicked')
        //   console.log(arg.start)
        //   console.log(arg.end)
        //   var modal = document.getElementById('eventModal')
        //   modal.style.display = 'block'
        //   document.getElementById('id_start_time').value = converterDataParaDjangoFormat(arg.start);
        //   document.getElementById('id_end_time').value = converterDataParaDjangoFormat(arg.end);
        //   calendar.unselect()
        // },

        
        eventClick: function(arg) {
          
          console.log('clicked', arg.event)
          var title = arg.event.title;
          var start = formatDateTime(arg.event.start) ;
          var end = formatDateTime(arg.event.end);
          var instructor = arg.event.extendedProps.instructor || '';
          var location = arg.event.extendedProps.location || '';
        //   var days = arg.event.extendedProps.days || '';
          const daysRaw = arg.event.extendedProps.days; // e.g., "['Tuesday', 'Friday']"
          const daysArray = daysRaw.replace(/'/g, '"').slice(1, -1).split(', ');
          const daysString = daysArray.join(', ');
          var members = arg.event.extendedProps.members || [];

          var id = arg.event.id;

          var modalInputEnd = document.getElementById('end_event_detail'); 

          
          var modal = document.getElementById('detailModal')
          var modalTitle = document.getElementById('title_event_detail'); 
          var modalStart = document.getElementById('start_event_detail'); 
          var modalEnd = document.getElementById('end_event_detail'); 
          var modalInstructor = document.getElementById('instructor_event_detail'); 
          var modalLocation = document.getElementById('location_event_detail'); 
          var modalDays = document.getElementById('days_event_detail'); 
          var membersList = document.getElementById('event-members');

        // Clear and populate members list with checkboxes
        membersList.innerHTML = ''; // Clear previous members
        members.forEach(function(member) {
            var listItem = document.createElement('li');
            var checkbox = document.createElement('input');
            checkbox.type = 'checkbox';
            checkbox.className = 'attendance-checkbox';
            checkbox.dataset.memberId = member.id;
            checkbox.dataset.memberName = member.name; // Store member name
            checkbox.dataset.sessionsLeft = member.sessions_left; // Store sessions left

            var label = document.createElement('label');
            // listItem.textContent = `${member.client__name} (Sessions left: ${member.classes_left})`;
            listItem.textContent = `${member.client__name} (Sessions left: ${member.classes_left}, Attended: ${member.classes_attended})`;
            listItem.appendChild(checkbox);
            listItem.appendChild(label);
            membersList.appendChild(listItem);
        });
          
          var deleteButton = document.getElementById("delete-event-button");
        //   var nextWeek = document.getElementById("add-to-next-week");
        //   var nextDay = document.getElementById("add-to-next-day");

          deleteButton.setAttribute("data-event-id", id);
        //   nextWeek.setAttribute("data-event-id-week", id);
        //   nextDay.setAttribute("data-event-id-day", id);
          modal.style.display = 'block' 
          
          modalTitle.textContent = title;
          modalStart.textContent = start;
          modalEnd.textContent = end;
          modalInstructor.textContent = instructor;
          modalLocation.textContent = location;
          modalDays.textContent = daysString;
          
         
          modal.style.display = 'block';
        },
        
        editable: true,
        dayMaxEvents: true,
        
        events: JSON.parse('{{ events|escapejs }}'),

      });

      calendar.render()
        document.getElementById('addNewClassButton').addEventListener('click', function () {
            const modal = document.getElementById('eventModal');
            modal.style.display = 'block';
        });
    });

    document.getElementById('save-attendance').addEventListener('click', function () {
        var url = "{% url 'clientsapp:save_attendance' %}";
        var attendanceData = [];
        
        document.querySelectorAll('.attendance-checkbox').forEach(function (checkbox) {
            attendanceData.push({
                memberId: checkbox.dataset.memberId,
                attended: checkbox.checked,
            });
            console.log({memberId: checkbox.dataset.memberId,attended: checkbox.checked})
        });

        // Send the attendance data to the server
        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': getCSRFToken(), // Ensure CSRF token is included
            },
            body: JSON.stringify({ attendance: attendanceData }),
        })
        .then(response => {
            if (response.ok) {
                // Close the modal
                $('#detailModal').modal('hide');
                // Reload the page or re-render the calendar events
                window.location.reload();  // Refreshes the page and updates data
            } else {
                console.error('Failed to save attendance:', response);
            }
        })
        .catch(error => {
            console.error('Error saving attendance:', error);
        });
    });

    function getCSRFToken() {
    const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    return csrfToken;
    }

    const closeBtn1 = document.getElementById('modalClose1');
    const closeBtn2 = document.getElementById('modalClose2');
    const closeBtn3 = document.getElementById('modalDetailClose');
    closeBtn1.addEventListener('click',()=>{
      const eventModal = document.getElementById('eventModal')
      eventModal.style.display = 'none';
    });
    closeBtn2.addEventListener('click',()=>{
      const eventModal = document.getElementById('eventModal')
      eventModal.style.display = 'none';
    });
    closeBtn3.addEventListener('click',()=>{
      const eventModal = document.getElementById('detailModal')
      eventModal.style.display = 'none';
    });
    function formatDateTime(dateTime) {
      const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric', hour: '2-digit', minute: '2-digit', second: '2-digit', timeZoneName: 'short' };
      const dataFormatada = new Date(dateTime).toLocaleDateString('en-US', options);
      return dataFormatada;
    };
    document.getElementById('delete-event-button').addEventListener('click', function() {
      const eventId = this.getAttribute('data-event-id');
      if (confirm('Are you sure you want to delete this class?')) {
          $.ajax({
              url: `/delete_event/${eventId}/`,
              type: 'POST',
              data: {
                  csrfmiddlewaretoken: '{{ csrf_token }}'
              },
              success: function(response) {
                  alert(response.message);
                  window.location.reload();
              },
              error: function(xhr, status, error) {
                  alert('Error!');
              }
          
          });
      }});
      
    document.getElementById('add-to-next-week').addEventListener('click', function() {
        const eventId = this.getAttribute('data-event-id-week');
        if (confirm('Are you sure you want add this event to next week?')) {
            $.ajax({
            url: `/next_week/${eventId}/`,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    alert(response.message);
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    alert('Error!');
                }
            });
        }
  });

    document.getElementById('add-to-next-day').addEventListener('click', function() {
        const eventId = this.getAttribute('data-event-id-day');
        if (confirm('Are you sure you want add this event to next day?')) {
            $.ajax({
            url: `/next_day/${eventId}/`,
                type: 'POST',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}'
                },
                success: function(response) {
                    alert(response.message);
                    window.location.reload();
                },
                error: function(xhr, status, error) {
                    alert('Error!');
                }
            });
        }
});

</script>
{% endblock extrascripts %}

